<div class="hero">
  <br>
  <div class="frosty col-xs-6 offset-xs-3 text-center"><br>
    <h1>Everything you need is here</h1><br>
    <h2>Discover the latest videos</h2><br>
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %><br>
    <br>
  </div>
</div>
<br>
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Greatest Movies</h3>
    <br>
    <p>Choose from many different genres</p>
  </div>
  
  <div class="col-12 col-sm">
    <h3>Watch at your own pace</h3>
    <br>
    <p>You will have 3 days to finish watching the film upon starting it</p>
  </div>
  
  <div class="col-12 col-sm">
    <h3>Join the Community</h3>
    <br>
    <p>Collaborate with other movie goers</p>
  </div>
</div>