<div class="hero">
  <br>
  <div class="frosty col-xs-6 offset-xs-3 text-center"><br>
    <h1>Learn everything you need to here</h1><br>
    <h2>I'll be your teacher</h2><br>
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %><br>
    <br>
  </div>
</div>