@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Play');
@import "font-awesome";


h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

body {
  background: image_url('bg.png');
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

label {
  margin-right: .5rem;
}

.clr {
  clear: both;
}

hr {
  border: none;
  height: 1px;
  color: #333333;
  background-color: #333333;
}

.custom-center {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

ul .header .fa {
  font-size: 20px;
}

ul .header {
  font-size: 25px;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

.lessons li {
  background: #000000;
  color: #FFFFFF;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

.frosty h1 {
  font-family: 'Play', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 5px 5px;
}

.frosty h2 {
  font-family: 'Play', sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

/********************\
 NAV
\********************/

.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: image_url('bg.png');
}

.navbar-nav {
  margin-top: 50px;
  margin-bottom: 260px;
}

.navbar-brand {
  padding-left: 1.25rem;
}

.navbar-light a.navbar-brand,
.navbar-light .navbar-nav .nav-link {
  font-family: 'Play', sans-serif;
  font-weight: 200;
  letter-spacing: 0.3px;
  color: darkgrey;
  font-size: xx-large;
}

.navbar-light a.navbar-brand {
  font-size: larger;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(169,169,169, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline-color: transparent;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-toggler:hover {
  color: lightgrey;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: lightgrey;
}

.navbar-nav .nav-link {
  padding-left: 1.5rem;
}

/********************\
 END NAV
\********************/

.hero {
  background: image_url('abstract.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 1px 10px 8px #2A2A2A;
  height: 370px;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}

.lesson {
  background-color: #000000;
  margin-top: 10px;
  height: 130px;
}

.lesson a {
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

.section {
  border: 3px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.shadow-box h2, .shadow-box h1 {
  margin: 10px;
}

.shadow-box {
  -moz-box-shadow: 1px 1px 2px 0 #D0D0D0;
  -webkit-box-shadow: 1px 1px 2px 0 #D0D0D0;
  box-shadow: 1px 1px 2px 0 #D0D0D0;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-color: #E4E4E4 #BEBEBD #BEBEBD #E4E4E4;
  padding: 10px;
}

.help-block {
  color: #FF3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}


@media (min-width: 768px) {
  .navbar-light a.navbar-brand,
  .navbar-light .navbar-nav .nav-link {
    font-size: 24px;
  }
  .nav-link {
    padding: 0em 1em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 32px;  
  }
}

@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}